<center>
<h3 style="color: black">EDITAR DATOS DEL EGRESADO</h3>
</center>

<style type="text/css">

input[type="text"]{
  display: block;
  margin: 0;
  width: 100%;
  font-family: sans-serif;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  color: black;
}
  
</style>

<%= render 'form', personal_information: @personal_information %>

<%= link_to 'Show', @personal_information %> |
<%= link_to 'Back', personal_informations_path %>
